<a href="https://colab.research.google.com/github/HarshwardhanPalav/nlp-j034/blob/classwork/b_and_g.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import gzip

In [2]:
df = pd.read_json("http://snap.stanford.edu/data/amazon/productGraph/categoryFiles/reviews_Office_Products_5.json.gz" , lines=True)
df.head()

       reviewerID        asin  ... unixReviewTime   reviewTime
0  A32T2H8150OJLU  B00000JBLH  ...     1094169600   09 3, 2004
1  A3MAFS04ZABRGO  B00000JBLH  ...     1197676800  12 15, 2007
2  A1F1A0QQP2XVH5  B00000JBLH  ...     1293840000   01 1, 2011
3   A49R5DBXXQDE5  B00000JBLH  ...     1145404800  04 19, 2006
4  A2XRMQA6PJ5ZJ8  B00000JBLH  ...     1375574400   08 4, 2013

[5 rows x 9 columns]

In [0]:
vowels = ['a','e','i','o','u','A','E','I','O','U']

In [0]:
import re

In [0]:
def splitstrings(str):
  str = re.sub('[^a-zA-Z]',' ', str)
  return list(str)

In [0]:
def letter(text):
  dict = {"vowels":0,
          "consonants":0}
  for word in text:
    words = splitstrings(word)
    for x in words:
      if x in vowels:
        dict["vowels"] += 1
      else:
         dict["consonants"] += 1
  return dict

In [8]:
df['reviewText_vccounts'] = df['reviewText'].apply(letter)
df['summary_vccounts'] = df['summary'].apply(letter)
df.head()

       reviewerID  ...                  summary_vccounts
0  A32T2H8150OJLU  ...  {'vowels': 12, 'consonants': 27}
1  A3MAFS04ZABRGO  ...  {'vowels': 14, 'consonants': 48}
2  A1F1A0QQP2XVH5  ...  {'vowels': 15, 'consonants': 33}
3   A49R5DBXXQDE5  ...  {'vowels': 14, 'consonants': 30}
4  A2XRMQA6PJ5ZJ8  ...   {'vowels': 3, 'consonants': 11}

[5 rows x 11 columns]

In [0]:
def wordsbeginb(string):
    string = re.sub('[^a-zA-Z]',' ', string) 
    list_1 = re.findall(r'\b[bB]\w+', string)

    return(list_1)

In [10]:
df["reviewText_wordsbeginb"] = df.reviewText.apply(wordsbeginb)
df["summary_wordsbeginb"] = df.summary.apply(wordsbeginb)
df.head()

       reviewerID  ... summary_wordsbeginb
0  A32T2H8150OJLU  ...                  []
1  A3MAFS04ZABRGO  ...              [bury]
2  A1F1A0QQP2XVH5  ...               [but]
3   A49R5DBXXQDE5  ...                  []
4  A2XRMQA6PJ5ZJ8  ...              [best]

[5 rows x 13 columns]

In [0]:
def wordsendg(string):
    string = re.sub('[^a-zA-Z]',' ', string) 
    list_2= re.findall(r'\w+[gG]\b', string) 

    return(list_2)

In [12]:
df["reviewText_wordsendg"] = df.reviewText.apply(wordsendg)
df["summary_wordsendg"] = df.summary.apply(wordsendg)
df.head()

       reviewerID  ... summary_wordsendg
0  A32T2H8150OJLU  ...            [long]
1  A3MAFS04ZABRGO  ...                []
2  A1F1A0QQP2XVH5  ...                []
3   A49R5DBXXQDE5  ...                []
4  A2XRMQA6PJ5ZJ8  ...                []

[5 rows x 15 columns]

In [13]:
def wordsbeginendbgboth(string):
    string = re.sub('[^a-zA-Z]',' ', string) 
    list_3= re.findall(r'\b[bB]\w+[gG]\b', string) 

    return(list_3)
    
df["reviewText_BG"] = df.reviewText.apply(wordsbeginendbgboth)
df["summary_BG"] = df.summary.apply(wordsbeginendbgboth)
df.head()

       reviewerID        asin  ...                   reviewText_BG summary_BG
0  A32T2H8150OJLU  B00000JBLH  ...                              []         []
1  A3MAFS04ZABRGO  B00000JBLH  ...  [burying, being, BENCHMARKING]         []
2  A1F1A0QQP2XVH5  B00000JBLH  ...                              []         []
3   A49R5DBXXQDE5  B00000JBLH  ...                              []         []
4  A2XRMQA6PJ5ZJ8  B00000JBLH  ...                              []         []

[5 rows x 17 columns]

In [14]:
def unionbg(string):
    string= re.sub('[^a-zA-Z]',' ', string) 
    list4 = re.findall(r'\b[bB]\w+', string) 
    list5 = re.findall(r'\w+[gG]\b', string) 
    return (list(set().union(list4, list5)))

df["reviewText_union"] = df.reviewText.apply(unionbg)
df["summary_union"] = df.summary.apply(unionbg)
df.head()

       reviewerID  ... summary_union
0  A32T2H8150OJLU  ...        [long]
1  A3MAFS04ZABRGO  ...        [bury]
2  A1F1A0QQP2XVH5  ...         [but]
3   A49R5DBXXQDE5  ...            []
4  A2XRMQA6PJ5ZJ8  ...        [best]

[5 rows x 19 columns]