<a href="https://colab.research.google.com/github/HarshwardhanPalav/nlp-j034/blob/homework/FunctionTransformer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import FunctionTransformer

In [0]:
a = np.array([13,17,14,15,57])

In [0]:
def minmax(x):
  min = np.min(x)
  max = np.max(x)
  res = (x-min)/(max-min)
  return res

In [4]:
transformer = FunctionTransformer(minmax)
transformer.transform(a)

array([0.        , 0.09090909, 0.02272727, 0.04545455, 1.        ])

In [5]:
transformer.inverse_transform(a)

array([13, 17, 14, 15, 57])

In [6]:
data = [[3,5],[8,4],[5,3]]
df = pd.DataFrame(data,columns = ['A','B'])
df

   A  B
0  3  5
1  8  4
2  5  3

In [7]:
x=transformer.transform(df)
x

     A    B
0  0.0  1.0
1  1.0  0.5
2  0.4  0.0

In [8]:
y=transformer.inverse_transform(df)
y

   A  B
0  3  5
1  8  4
2  5  3